.gallery-container {
    display: grid;
    background-color; 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.gallery-item {
 text-align: center;    
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.gallery-item:hover {
    transform: translate(-5px);
}